
@import "tailwindcss";

@theme {
  --color-brand-ivory: #FEFDFC;
  --color-brand-cream: #F5F2EA;
  --color-brand-maroon: #680C0C;
  --color-brand-gold: #C5A059;
  --color-brand-black: #1A1A1A;
  --color-brand-charcoal: #333333;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-brand-ivory text-brand-black;
}
